Flask==2.3.2
Flask_Cors==3.0.10
Flask_SSE==1.0.0
gevent==22.10.2
graphviz==0.20.1
gunicorn==20.1.0
openai==0.27.2
python-dotenv==1.0.0
requests==2.31.0
spacy-experimental==0.6.1
thefuzz==0.19.0
thefuzz[speedup]==0.19.0
en_coreference_web_trf @ https://github.com/explosion/spacy-experimental/releases/download/v0.6.1/en_coreference_web_trf-3.4.0a2-py3-none-any.whl